<a href="https://colab.research.google.com/github/Kunjung/DataViz/blob/master/Data_Visualizing_for_AI_Winter_fusemachines_at_KU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# nlp_data = "https://s3-us-west-2.amazonaws.com/fuse-ai-competiton/NLP_PUBLIC/data.zip"

# nlp_model = "https://s3-us-west-2.amazonaws.com/fuse-ai-competiton/NLP_PUBLIC/NLP.zip"

# image_data = "https://s3-us-west-2.amazonaws.com/fuse-ai-competiton/IMAGE_PUBLIC/data.zip"

# image_model = "https://s3-us-west-2.amazonaws.com/fuse-ai-competiton/IMAGE_PUBLIC/IMAGE.zip"

visualization_data = "https://s3-us-west-2.amazonaws.com/fuse-ai-competiton/DATA_ANALYSIS_PUBLIC/data_analysis_visualization.zip"

In [0]:
# !pip install fastai

In [0]:
!pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (1.12.12)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from plotly) (2.18.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.11.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from plotly) (2018.7)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->plotly) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->plotly) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->plotly) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->plotly) (2018.11.29)

In [0]:
import pandas as pd
import os
from glob import iglob

# NLP

In [0]:
## get the NLP data ##
# !wget https://s3-us-west-2.amazonaws.com/fuse-ai-competiton/NLP_PUBLIC/data.zip

In [0]:
## unzip NLP data ##
# !unzip -qq data.zip
# !ls data

In [0]:
# df = pd.read_csv('data/train/1545890828.895794.txt')
# df.head(2)

## Data Viz ##

In [0]:
!wget https://s3-us-west-2.amazonaws.com/fuse-ai-competiton/DATA_ANALYSIS_PUBLIC/data_analysis_visualization.zip

--2018-12-29 04:09:50--  https://s3-us-west-2.amazonaws.com/fuse-ai-competiton/DATA_ANALYSIS_PUBLIC/data_analysis_visualization.zip
Resolving s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)... 52.218.244.8
Connecting to s3-us-west-2.amazonaws.com (s3-us-west-2.amazonaws.com)|52.218.244.8|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 77261916 (74M) [application/zip]
Saving to: ‘data_analysis_visualization.zip’

data_analysis_visua 100%[===================>]  73.68M  18.4MB/s    in 4.3s

2018-12-29 04:09:55 (17.2 MB/s) - ‘data_analysis_visualization.zip’ saved [77261916/77261916]

In [0]:
!unzip -qq data_analysis_visualization.zip

In [0]:
!ls data_analysis_visualization

NEPSE131.csv   NEPSE184.csv  NEPSE256.csv   NEPSE2788.csv  NEPSE505.csv
NEPSE132.csv   NEPSE185.csv  NEPSE259.csv   NEPSE280.csv   NEPSE516.csv
NEPSE133.csv   NEPSE186.csv  NEPSE261.csv   NEPSE296.csv   NEPSE517.csv
NEPSE134.csv   NEPSE187.csv  NEPSE263.csv   NEPSE307.csv   NEPSE532.csv
NEPSE135.csv   NEPSE188.csv  NEPSE268.csv   NEPSE311.csv   NEPSE545.csv
NEPSE136.csv   NEPSE189.csv  NEPSE273.csv   NEPSE338.csv   NEPSE559.csv
NEPSE137.csv   NEPSE190.csv  NEPSE2742.csv  NEPSE341.csv   NEPSE561.csv
NEPSE138.csv   NEPSE192.csv  NEPSE2743.csv  NEPSE348.csv   NEPSE562.csv
NEPSE139.csv   NEPSE194.csv  NEPSE2744.csv  NEPSE357.csv   NEPSE570.csv
NEPSE140.csv   NEPSE195.csv  NEPSE2746.csv  NEPSE358.csv   NEPSE574.csv
NEPSE141.csv   NEPSE198.csv  NEPSE2748.csv  NEPSE359.csv   NEPSE575.csv
NEPSE142.csv   NEPSE200.csv  NEPSE274.csv   NEPSE360.csv   NEPSE576.csv
NEPSE144.csv   NEPSE201.csv  NEPSE2750.csv  NEPSE361.csv   NEPSE577.csv
NEPSE145.csv   NEPSE202.csv  NEPSE2751.csv  NEPSE371.csv   NEPSE583.csv
NEPSE147.csv   NEPSE203.csv  NEPSE2752.csv  NEPSE385.csv   NEPSE587.csv
NEPSE148.csv   NEPSE204.csv  NEPSE2753.csv  NEPSE393.csv   NEPSE591.csv
NEPSE149.csv   NEPSE205.csv  NEPSE2754.csv  NEPSE396.csv   NEPSE592.csv
NEPSE151.csv   NEPSE207.csv  NEPSE2755.csv  NEPSE397.csv   NEPSE593.csv
NEPSE152.csv   NEPSE209.csv  NEPSE2757.csv  NEPSE398.csv   NEPSE598.csv
NEPSE153.csv   NEPSE210.csv  NEPSE2758.csv  NEPSE401.csv   NEPSE601.csv
NEPSE154.csv   NEPSE211.csv  NEPSE2759.csv  NEPSE403.csv   NEPSE602.csv
NEPSE155.csv   NEPSE213.csv  NEPSE2760.csv  NEPSE417.csv   NEPSE605.csv
NEPSE156.csv   NEPSE215.csv  NEPSE2761.csv  NEPSE418.csv   NEPSE610.csv
NEPSE158.csv   NEPSE217.csv  NEPSE2764.csv  NEPSE419.csv   NEPSE616.csv
NEPSE159.csv   NEPSE219.csv  NEPSE2765.csv  NEPSE420.csv   NEPSE618.csv
NEPSE160.csv   NEPSE221.csv  NEPSE2766.csv  NEPSE421.csv   NEPSE625.csv
NEPSE163.csv   NEPSE222.csv  NEPSE2767.csv  NEPSE427.csv   NEPSE629.csv
NEPSE164.csv   NEPSE226.csv  NEPSE2768.csv  NEPSE428.csv   NEPSE636.csv
NEPSE166.csv   NEPSE227.csv  NEPSE2769.csv  NEPSE441.csv   NEPSE674.csv
NEPSE171.csv   NEPSE228.csv  NEPSE2770.csv  NEPSE442.csv   NEPSE682.csv
NEPSE172.csv   NEPSE230.csv  NEPSE2771.csv  NEPSE445.csv   NEPSE686.csv
NEPSE1733.csv  NEPSE231.csv  NEPSE2773.csv  NEPSE447.csv   NEPSE687.csv
NEPSE1740.csv  NEPSE232.csv  NEPSE2774.csv  NEPSE450.csv   NEPSE691.csv
NEPSE1741.csv  NEPSE233.csv  NEPSE2776.csv  NEPSE451.csv   NEPSE693.csv
NEPSE174.csv   NEPSE235.csv  NEPSE2777.csv  NEPSE459.csv   NEPSE694.csv
NEPSE176.csv   NEPSE236.csv  NEPSE2779.csv  NEPSE471.csv   NEPSE695.csv
NEPSE177.csv   NEPSE238.csv  NEPSE277.csv   NEPSE472.csv   NEPSE697.csv
NEPSE178.csv   NEPSE242.csv  NEPSE2780.csv  NEPSE473.csv   NEPSE704.csv
NEPSE179.csv   NEPSE244.csv  NEPSE2781.csv  NEPSE474.csv   NEPSE705.csv
NEPSE180.csv   NEPSE245.csv  NEPSE2783.csv  NEPSE487.csv   NEPSE706.csv
NEPSE181.csv   NEPSE249.csv  NEPSE2784.csv  NEPSE490.csv
NEPSE182.csv   NEPSE250.csv  NEPSE2786.csv  NEPSE496.csv
NEPSE183.csv   NEPSE255.csv  NEPSE2787.csv  NEPSE502.csv

In [0]:
## first test
data_viz_path = "data_analysis_visualization"
first_test = "NEPSE131.csv"

df = pd.read_csv(os.path.join(data_viz_path, first_test))
df.head()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
0,0,1,2018122301008287,NABIL,57,35,50,870,43500.0
1,1,2,2018122301008166,NABIL,29,22,58,865,50170.0
2,2,3,2018122301008165,NABIL,25,22,100,865,86500.0
3,3,4,2018122301008164,NABIL,50,22,10,865,8650.0
4,4,5,2018122301008163,NABIL,7,22,100,866,86600.0

In [0]:
## second test
data_viz_path = "data_analysis_visualization"
first_test = "NEPSE2779.csv"

df = pd.read_csv(os.path.join(data_viz_path, first_test))
df.head()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
0,0,1,2018122301003928,NICGF,36,47,100,9.10,910.0
1,1,2,2018122301003917,NICGF,36,47,100,9.10,910.0
2,2,3,2018122301003908,NICGF,36,47,100,9.10,910.0
3,3,4,2018121801002662,NICGF,22,47,2500,9.27,23175.0
4,4,5,2018121701002794,NICGF,52,32,5000,9.10,45500.0

## merging all the data frames of each csv file in the folder

In [0]:
from glob import iglob
import pandas as pd

all_paths = os.listdir('data_analysis_visualization')

print(all_paths)

dataframes = (pd.read_csv(os.path.join(data_viz_path, f)) for f in all_paths)
big_dataframe = pd.concat(dataframes, ignore_index=True)

['NEPSE421.csv', 'NEPSE418.csv', 'NEPSE532.csv', 'NEPSE695.csv', 'NEPSE235.csv', 'NEPSE230.csv', 'NEPSE2788.csv', 'NEPSE427.csv', 'NEPSE164.csv', 'NEPSE277.csv', 'NEPSE192.csv', 'NEPSE184.csv', 'NEPSE447.csv', 'NEPSE361.csv', 'NEPSE148.csv', 'NEPSE417.csv', 'NEPSE445.csv', 'NEPSE472.csv', 'NEPSE195.csv', 'NEPSE371.csv', 'NEPSE2748.csv', 'NEPSE136.csv', 'NEPSE1741.csv', 'NEPSE358.csv', 'NEPSE215.csv', 'NEPSE2783.csv', 'NEPSE233.csv', 'NEPSE487.csv', 'NEPSE179.csv', 'NEPSE2773.csv', 'NEPSE398.csv', 'NEPSE138.csv', 'NEPSE396.csv', 'NEPSE687.csv', 'NEPSE133.csv', 'NEPSE256.csv', 'NEPSE209.csv', 'NEPSE338.csv', 'NEPSE166.csv', 'NEPSE2779.csv', 'NEPSE228.csv', 'NEPSE174.csv', 'NEPSE135.csv', 'NEPSE245.csv', 'NEPSE516.csv', 'NEPSE190.csv', 'NEPSE574.csv', 'NEPSE142.csv', 'NEPSE194.csv', 'NEPSE625.csv', 'NEPSE172.csv', 'NEPSE177.csv', 'NEPSE187.csv', 'NEPSE211.csv', 'NEPSE1740.csv', 'NEPSE156.csv', 'NEPSE2777.csv', 'NEPSE201.csv', 'NEPSE2787.csv', 'NEPSE268.csv', 'NEPSE222.csv', 'NEPSE360.csv', 'NEPSE153.csv', 'NEPSE577.csv', 'NEPSE231.csv', 'NEPSE490.csv', 'NEPSE682.csv', 'NEPSE450.csv', 'NEPSE561.csv', 'NEPSE152.csv', 'NEPSE587.csv', 'NEPSE141.csv', 'NEPSE575.csv', 'NEPSE296.csv', 'NEPSE132.csv', 'NEPSE473.csv', 'NEPSE255.csv', 'NEPSE2751.csv', 'NEPSE151.csv', 'NEPSE217.csv', 'NEPSE570.csv', 'NEPSE385.csv', 'NEPSE178.csv', 'NEPSE601.csv', 'NEPSE471.csv', 'NEPSE259.csv', 'NEPSE189.csv', 'NEPSE238.csv', 'NEPSE403.csv', 'NEPSE348.csv', 'NEPSE616.csv', 'NEPSE2784.csv', 'NEPSE210.csv', 'NEPSE134.csv', 'NEPSE397.csv', 'NEPSE2786.csv', 'NEPSE517.csv', 'NEPSE147.csv', 'NEPSE496.csv', 'NEPSE2767.csv', 'NEPSE198.csv', 'NEPSE441.csv', 'NEPSE2750.csv', 'NEPSE250.csv', 'NEPSE2765.csv', 'NEPSE341.csv', 'NEPSE180.csv', 'NEPSE204.csv', 'NEPSE2757.csv', 'NEPSE2766.csv', 'NEPSE576.csv', 'NEPSE227.csv', 'NEPSE311.csv', 'NEPSE459.csv', 'NEPSE2771.csv', 'NEPSE691.csv', 'NEPSE505.csv', 'NEPSE706.csv', 'NEPSE474.csv', 'NEPSE158.csv', 'NEPSE2774.csv', 'NEPSE2781.csv', 'NEPSE219.csv', 'NEPSE583.csv', 'NEPSE401.csv', 'NEPSE559.csv', 'NEPSE274.csv', 'NEPSE2769.csv', 'NEPSE144.csv', 'NEPSE242.csv', 'NEPSE704.csv', 'NEPSE149.csv', 'NEPSE674.csv', 'NEPSE694.csv', 'NEPSE697.csv', 'NEPSE139.csv', 'NEPSE2768.csv', 'NEPSE610.csv', 'NEPSE183.csv', 'NEPSE602.csv', 'NEPSE202.csv', 'NEPSE221.csv', 'NEPSE205.csv', 'NEPSE182.csv', 'NEPSE618.csv', 'NEPSE593.csv', 'NEPSE232.csv', 'NEPSE2752.csv', 'NEPSE261.csv', 'NEPSE213.csv', 'NEPSE280.csv', 'NEPSE188.csv', 'NEPSE263.csv', 'NEPSE2780.csv', 'NEPSE131.csv', 'NEPSE2764.csv', 'NEPSE591.csv', 'NEPSE442.csv', 'NEPSE2755.csv', 'NEPSE428.csv', 'NEPSE451.csv', 'NEPSE393.csv', 'NEPSE1733.csv', 'NEPSE2770.csv', 'NEPSE171.csv', 'NEPSE420.csv', 'NEPSE226.csv', 'NEPSE154.csv', 'NEPSE145.csv', 'NEPSE705.csv', 'NEPSE207.csv', 'NEPSE159.csv', 'NEPSE137.csv', 'NEPSE2753.csv', 'NEPSE359.csv', 'NEPSE200.csv', 'NEPSE598.csv', 'NEPSE686.csv', 'NEPSE140.csv', 'NEPSE2761.csv', 'NEPSE636.csv', 'NEPSE2760.csv', 'NEPSE419.csv', 'NEPSE2742.csv', 'NEPSE629.csv', 'NEPSE562.csv', 'NEPSE176.csv', 'NEPSE203.csv', 'NEPSE545.csv', 'NEPSE160.csv', 'NEPSE2776.csv', 'NEPSE2743.csv', 'NEPSE592.csv', 'NEPSE244.csv', 'NEPSE181.csv', 'NEPSE2758.csv', 'NEPSE605.csv', 'NEPSE236.csv', 'NEPSE2746.csv', 'NEPSE249.csv', 'NEPSE163.csv', 'NEPSE2759.csv', 'NEPSE273.csv', 'NEPSE186.csv', 'NEPSE357.csv', 'NEPSE2754.csv', 'NEPSE502.csv', 'NEPSE155.csv', 'NEPSE2744.csv', 'NEPSE693.csv', 'NEPSE185.csv', 'NEPSE307.csv']

In [0]:
## testing big_dataframe

big_dataframe.head()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
0,0,1,2018122301007884,HATH,45,42,40,120.0,4800.0
1,1,2,2018122301004450,HATH,45,42,120,118.0,14160.0
2,2,3,2018122301003798,HATH,45,49,150,118.0,17700.0
3,3,4,2018122301003466,HATH,45,17,80,118.0,9440.0
4,4,5,2018122301003465,HATH,45,51,40,117.0,4680.0

In [0]:

big_dataframe.tail()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
5539950,35564,35565,200808240160838,NTC,16,1,200,910.0,182000.0
5539951,35565,35566,200808240160837,NTC,17,1,100,910.0,91000.0
5539952,35566,35567,200808240160836,NTC,20,1,80,910.0,72800.0
5539953,35567,35568,200808240160823,NTC,20,5,120,910.0,109200.0
5539954,35568,35569,200808240160821,NTC,20,14,300,910.0,273000.0

In [0]:
big_dataframe.shape
big_dataframe["Contract No"].head()
type(big_dataframe["Contract No"])

big_dataframe.shape
big_dataframe = big_dataframe[300000:]

In [0]:
big_dataframe.shape

(5239955, 9)

In [0]:
import numpy as np
np.sort(big_dataframe["Contract No"])[350000:360000]

array([200803020059129, 200803020059130, 200803020059141, ...,
       200805040092328, 200805040092329, 200805040092330], dtype=object)

In [0]:
big_dataframe.dtypes
big_dataframe["Contract No"].max()

2018122401000049

In [0]:
## download csv file of the merged one
#from google.colab import files

# e.g. save pandas output as csv
#big_dataframe.to_csv('nepse.csv')

# or any other file as usual
# with open('example.csv', 'w') as f:
#   f.write('your strings here')

#files.download('nepse.csv')

In [0]:
### test ideas with 10,000 random datasets

sample = big_dataframe.sample(n=10000, random_state=42)
sample.shape
sample.tail()

sample['Stock Symbol'].unique().shape

(177,)

In [0]:
big_dataframe['Stock Symbol'].unique().shape



big_dataframe.head()
## get the unique stock symbol's range values

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
300000,14613,14614,201704114600380,GLICL,25,17,500,1300.0,650000.0
300001,14614,14615,201704114600381,GLICL,25,17,200,1300.0,260000.0
300002,14615,14616,201704114600382,GLICL,25,6,150,1306.0,195900.0
300003,14616,14617,201704114600418,GLICL,25,22,157,1295.0,203315.0
300004,14617,14618,201704114600425,GLICL,25,58,50,1306.0,65300.0

In [0]:
### Insight # 2
## is the stock handled by a diverse group of buyers and sellers or is the NEP SE very centralized

buyer_seller = big_dataframe[['Buyer Broker', 'Seller Broker']]

u_b = buyer_seller['Buyer Broker'].unique()
print(len(u_b))
u_s = buyer_seller['Seller Broker'].unique()
print(len(u_s))
buyer_seller.shape

56
56

(5239955, 2)

In [0]:
## visualie by unique Stock Symbols 
import plotly.plotly as py

import plotly.graph_objs as go

import numpy as np

X = big_dataframe['Stock Symbol'].unique()

# X = X.as_matrix()

i = 2

plot_data = []

for x in X:
    ## single stocks one at a time
#     print(x)
    stock_data = big_dataframe[big_dataframe['Stock Symbol'] == x]
    amount = stock_data['Rate']
#     time = stock_data['Contract No']
    
    mean_a = amount.mean()
#     mean_time = time.mean()
#     print(mean_a)
#     print(mean_time)
#     print(time)
#     print(amount)

    plot_val = (x, mean_a)
    plot_data.append(plot_val)

In [0]:
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')

plot_data = sorted(plot_data, key=lambda x: x[1])

trace1 = go.Bar(
    x=[x for (x, amt) in plot_data],
    y=[amt for (x, amt) in plot_data],
)

# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1]
# layout = go.Layout(
#     barmode='group'
# )

py.iplot(data, filename='basic-bar')

#unique Buyers

In [0]:
## visualie by unique Buyers Only
top3 = ["UNL", "RBCL", "BNT"]

SYMBA = "RBCL"

import plotly.plotly as py

import plotly.graph_objs as go

import numpy as np

X = big_dataframe['Buyer Broker'].unique()
X.sort()

# X = X.as_matrix()

i = 2

plot_data_b = []

for x in X:
    ## single stocks one at a time
#     print(x)
    stock_data = big_dataframe[(big_dataframe['Buyer Broker'] == x) & (big_dataframe['Stock Symbol'] == SYMBA)]
    amount = stock_data['Amount']
#     time = stock_data['Contract No']
    
    sum_a = amount.sum()
#     mean_time = time.mean()
#     print(mean_a)
#     print(mean_time)
#     print(time)
#     print(amount)

    plot_val = (x, sum_a)
    plot_data_b.append(plot_val)

In [0]:
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')

plot_data_b = sorted(plot_data_b, key=lambda x: x[1])

trace1 = go.Bar(
    x=[x for (x, amt) in plot_data_b],
    y=[amt for (x, amt) in plot_data_b],
)

# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1]
# layout = go.Layout(
#     barmode='group'
# )

py.iplot(data, filename='basic-bar')

#unique Sellers

In [0]:
## visualie by unique Sellers Only

#SYMBA = "UNL"

import plotly.plotly as py

import plotly.graph_objs as go

import numpy as np

X = big_dataframe['Seller Broker'].unique()
X.sort()

# X = X.as_matrix()

i = 2

plot_data_s = []

for x in X:
    ## single stocks one at a time
#     print(x)
    stock_data = big_dataframe[(big_dataframe['Seller Broker'] == x) & (big_dataframe['Stock Symbol'] == SYMBA)]
    amount = stock_data['Amount']
#     time = stock_data['Contract No']
    
    sum_a = amount.sum()
#     mean_time = time.mean()
#     print(mean_a)
#     print(mean_time)
#     print(time)
#     print(amount)

    plot_val = (x, sum_a)
    plot_data_s.append(plot_val)

In [0]:
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')

plot_data_s = sorted(plot_data_s, key=lambda x: x[1])

trace1 = go.Bar(
    x=[x for (x, amt) in plot_data_s],
    y=[amt for (x, amt) in plot_data_s],
)

# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1]
# layout = go.Layout(
#     barmode='group'
# )

py.iplot(data, filename='basic-bar')

In [0]:
### area diagram of buyers and sellers of top 3 stocks

top3 = ["UML", "RBCL", "BNT"]

import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')

# plot_data_s = sorted(plot_data_s, key=lambda x: x[1])

trace1 = go.Bar(
    x=[x for (x, amt) in plot_data_b],
    y=[amt for (x, amt) in plot_data_b],
    name='Buyers'
)

trace2 = go.Bar(
    x=[x for (x, amt) in plot_data_s],
    y=[amt for (x, amt) in plot_data_s],
    name='Sellers'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

# 2008 Financial Crisis

In [0]:
## get only data from big_dataframe that has date above 2007

ts_big_dataframe = big_dataframe.sort_values(['Contract No'])
# ts_big_dataframe.head()

## remove the first 300,000 data to get 2007 start
ts_big_dataframe = ts_big_dataframe[350000:]
ts_big_dataframe.head()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
4497335,89578,89579,200803020059129,SBL,5,28,160,820.0,131200.0
939514,119583,119584,200803020059130,SCB,6,22,286,5255.0,1502930.0
4844154,71721,71722,200803020059141,MBL,6,6,906,1175.0,1064550.0
939513,119582,119583,200803020059142,SCB,22,22,75,5256.0,394200.0
4751913,3134,3135,200803020059143,NSM,19,19,200,1352.0,270400.0

In [0]:
sample = ts_big_dataframe[:100000]
sample.tail()
test = sample.tail().values
test

array([[140594, 140595, 200908020370261, 'NBB', 22, 11, 220, 345.0,
        75900.0],
       [187, 188, 200908020370264, 'NSM', 29, 21, 65, 295.0, 19175.0],
       [59725, 59726, 200908020370271, 'LBL', 8, 8, 1440, 818.0,
        1177920.0],
       [66656, 66657, 200908020370275, 'NCCB', 10, 7, 500, 335.0,
        167500.0],
       [140593, 140594, 200908020370277, 'NBB', 16, 17, 50, 350.0,
        17500.0]], dtype=object)

In [0]:
## check only 2008 data

down = ts_big_dataframe['Contract No'] > 200801000070261 

# Create variable with TRUE if age is greater than 50
top = ts_big_dataframe['Contract No'] < 200900000000000 

# Select all cases where nationality is USA and age is greater than 50
year2008 = ts_big_dataframe[down & top]

year2008.head()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
4497335,89578,89579,200803020059129,SBL,5,28,160,820.0,131200.0
939514,119583,119584,200803020059130,SCB,6,22,286,5255.0,1502930.0
4844154,71721,71722,200803020059141,MBL,6,6,906,1175.0,1064550.0
939513,119582,119583,200803020059142,SCB,22,22,75,5256.0,394200.0
4751913,3134,3135,200803020059143,NSM,19,19,200,1352.0,270400.0

In [0]:
### find each month and merge those rows and get the average score for that month

year = '2008'
start_time = '000000000'
end_time = '999999999'

month_list = []

for month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']:
    start_stamp = year + month + start_time
    end_stamp = year + month + end_time
    
    start_stamp = int(start_stamp)
    end_stamp = int(end_stamp)
    
    c_down = year2008['Contract No'] > start_stamp 

    # Create variable with TRUE if age is greater than 50
    c_top = year2008['Contract No'] < end_stamp 

    # Select all cases where nationality is USA and age is greater than 50
    month_df = year2008[c_down & c_top]
    avg_amount = month_df['Amount'].sum()

    month_data = (month, avg_amount)
    month_list.append(month_data)
    
### plot the data
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')


trace1 = go.Bar(
    x=[x for (x, amt) in month_list],
    y=[amt for (x, amt) in month_list],
)

# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1]
# layout = go.Layout(
#     barmode='group'
# )

py.iplot(data, filename='basic-bar')

In [0]:
## check only 2008 data

down = ts_big_dataframe['Contract No'] > 200813000070261 

# Create variable with TRUE if age is greater than 50
top = ts_big_dataframe['Contract No'] < 201000000000000 

# Select all cases where nationality is USA and age is greater than 50
year2009 = ts_big_dataframe[down & top]

year2009.head()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
1263771,82525,82526,200901010233902,KBL,16,16,54,826.0,44604.0
4403716,118129,118130,200901010233916,CHCL,20,10,100,1060.0,106000.0
3379126,68267,68268,200901010233959,NCCB,1,17,120,340.0,40800.0
1076133,5633,5634,200901010233962,CFCL,26,16,100,875.0,87500.0
5537907,33521,33522,200901010233966,NTC,7,7,100,577.0,57700.0

In [0]:
## 2009 data
### find each month and merge those rows and get the average score for that month

year = '2009'
start_time = '000000000'
end_time = '999999999'

month_list = []

for month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']:
    start_stamp = year + month + start_time
    end_stamp = year + month + end_time
    
    start_stamp = int(start_stamp)
    end_stamp = int(end_stamp)
    
    c_down = year2009['Contract No'] > start_stamp 

    # Create variable with TRUE if age is greater than 50
    c_top = year2009['Contract No'] < end_stamp 

    # Select all cases where nationality is USA and age is greater than 50
    month_df = year2009[c_down & c_top]
    avg_amount = month_df['Amount'].sum()

    month_data = (month, avg_amount)
    month_list.append(month_data)
    
### plot the data
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')


trace1 = go.Bar(
    x=[x for (x, amt) in month_list],
    y=[amt for (x, amt) in month_list],
)

# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1]
# layout = go.Layout(
#     barmode='group'
# )

py.iplot(data, filename='basic-bar')

In [0]:
def is_data(number, date):
    str_num = str(number)
    test = '200908'
    str_num = str_num[:len(test)]
    date = str(date)
    if '20080' == '20080':
        year = str_num[:len('2008')]
        month = str_num[-len('08'):]
        return True, year, month
    
is_data(253525, 2009)

(True, '2535', '25')

# 2008 financial crisis year by year view

In [0]:
## check all years from 2008 to 2018 data

down = ts_big_dataframe['Contract No'] > 200700000070261 

# Create variable with TRUE if age is greater than 50
top = ts_big_dataframe['Contract No'] < 201813000000000 

# Select all cases where nationality is USA and age is greater than 50
all_years = ts_big_dataframe[down & top]

all_years.head()
all_years.tail()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
1489862,461,462,201811056649458,AHPC,25,48,30,128.0,3840.0
4159239,1793,1794,201811056649459,SANIMA,48,35,69,324.0,22356.0
2011115,3574,3575,201811056649460,PRVU,14,45,100,253.0,25300.0
4884328,1012,1013,201811056649461,HIDCL,13,38,145,159.0,23055.0
4884329,1013,1014,201811056649462,HIDCL,13,49,76,160.0,12160.0

In [0]:
## 2009 data
### find each month and merge those rows and get the average score for that month

start_time = '000000000'
end_time = '999999999'

year_list = []

for year in ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']:
    start_stamp = year + '00' + '000000000'
    end_stamp = year + '13' + '000000000'
    
    start_stamp = int(start_stamp)
    end_stamp = int(end_stamp)
    
    c_down = all_years['Contract No'] > start_stamp 

    # Create variable with TRUE if age is greater than 50
    c_top = all_years['Contract No'] < end_stamp 

    # Select all cases where nationality is USA and age is greater than 50
    year_df = all_years[c_down & c_top]
    avg_amount = year_df['Amount'].sum()

    year_data = (year, avg_amount)
    year_list.append(year_data)
    
print('Year List')
print(year_list)
### plot the data
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')


trace1 = go.Bar(
    x=[x for (x, amt) in year_list],
    y=[amt for (x, amt) in year_list],
)

# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1]
# layout = go.Layout(
#     barmode='group'
# )

py.iplot(data, filename='basic-bar')

Year List
[('2008', 11839992371.0), ('2009', 8560101922.0), ('2010', 4114289304.0), ('2011', 4947629716.0), ('2012', 11345192016.0), ('2013', 28295298274.0), ('2014', 71073220764.0), ('2015', 56384432136.999985), ('2016', 194493996481.21002), ('2017', 135886982155.61993), ('2018', 67551610456.610016)]

## Overall buyers and Sellers across Time

In [0]:
buyer = 17


start_time = '000000000'
end_time = '999999999'

year_list_buyer = []
year_list_seller = []

for year in ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']:
    start_stamp = year + '00' + '000000000'
    end_stamp = year + '13' + '000000000'
    
    start_stamp = int(start_stamp)
    end_stamp = int(end_stamp)
    
    c_down = all_years['Contract No'] > start_stamp 

    # Create variable with TRUE if age is greater than 50
    c_top = all_years['Contract No'] < end_stamp 
    
    ## get all the buyer amount data
    c_buy = all_years['Buyer Broker'] == buyer
    
    
    c_sell = all_years['Seller Broker'] == buyer

    # Select all cases where nationality is USA and age is greater than 50
    year_df = all_years[c_down & c_top & c_buy]
    avg_amount = year_df['Amount'].sum()

    year_df_2 = all_years[c_down & c_top & c_sell]
    avg_amount_2 = year_df_2['Amount'].sum()
    
    year_data = (year, avg_amount)
    year_data_2 = (year, avg_amount_2)
    year_list_buyer.append(year_data)
    
    year_list_seller.append(year_data_2)
    
print('Year List')
print(year_list_buyer)
### plot the data
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')


trace1 = go.Bar(
    x=[x for (x, amt) in year_list_buyer],
    y=[amt for (x, amt) in year_list_buyer],
    name='Buyer'
)


trace2 = go.Bar(
    x=[x for (x, amt) in year_list_seller],
    y=[amt for (x, amt) in year_list_seller],
    name='Seller'
)


# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1, trace2]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [0]:
all_years.head()

,Unnamed: 0,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount
4497335,89578,89579,200803020059129,SBL,5,28,160,820.0,131200.0
939514,119583,119584,200803020059130,SCB,6,22,286,5255.0,1502930.0
4844154,71721,71722,200803020059141,MBL,6,6,906,1175.0,1064550.0
939513,119582,119583,200803020059142,SCB,22,22,75,5256.0,394200.0
4751913,3134,3135,200803020059143,NSM,19,19,200,1352.0,270400.0

In [0]:
all_years.shape

(4774507, 9)

#testing buyers 17 and 28 and their overall stock decisions

In [0]:
buyer = 17


start_time = '000000000'
end_time = '999999999'

year_list_buyer = []
year_list_seller = []

for year in ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']:
    start_stamp = year + '00' + '000000000'
    end_stamp = year + '13' + '000000000'
    
    start_stamp = int(start_stamp)
    end_stamp = int(end_stamp)
    
    c_down = all_years['Contract No'] > start_stamp 

    # Create variable with TRUE if age is greater than 50
    c_top = all_years['Contract No'] < end_stamp 
    
    c_buy = all_years['Buyer Broker'] == buyer
    c_sell = all_years['Seller Broker'] == buyer

    # Select all cases where nationality is USA and age is greater than 50
    year_df = all_years[c_down & c_top & c_buy]
    avg_amount = year_df['Amount'].sum()

    year_df_2 = all_years[c_down & c_top & c_sell]
    avg_amount_2 = year_df_2['Amount'].sum()
    
    year_data = (year, avg_amount)
    year_data_2 = (year, avg_amount_2)
    year_list_buyer.append(year_data)
    
    year_list_seller.append(year_data_2)
    
print('Year List')
print(year_list_buyer)
### plot the data
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')


trace1 = go.Bar(
    x=[x for (x, amt) in year_list_buyer],
    y=[amt for (x, amt) in year_list_buyer],
    name='Buyer'
)


trace2 = go.Bar(
    x=[x for (x, amt) in year_list_seller],
    y=[amt for (x, amt) in year_list_seller],
    name='Seller'
)


# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1, trace2]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

Year List
[('2008', 381286423.0), ('2009', 466502648.0), ('2010', 174505538.0), ('2011', 1167270766.0), ('2012', 364384866.0), ('2013', 1139817235.0), ('2014', 2508818173.0), ('2015', 1806197373.14), ('2016', 6161530809.1), ('2017', 4255356477.3700004), ('2018', 1928865022.99)]

##buyer 28

In [0]:
buyer = 28


start_time = '000000000'
end_time = '999999999'

year_list_buyer = []
year_list_seller = []

for year in ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']:
    start_stamp = year + '00' + '000000000'
    end_stamp = year + '13' + '000000000'
    
    start_stamp = int(start_stamp)
    end_stamp = int(end_stamp)
    
    c_down = all_years['Contract No'] > start_stamp 

    # Create variable with TRUE if age is greater than 50
    c_top = all_years['Contract No'] < end_stamp 
    
    c_buy = all_years['Buyer Broker'] == buyer
    c_sell = all_years['Seller Broker'] == buyer

    # Select all cases where nationality is USA and age is greater than 50
    year_df = all_years[c_down & c_top & c_buy]
    avg_amount = year_df['Amount'].sum()

    year_df_2 = all_years[c_down & c_top & c_sell]
    avg_amount_2 = year_df_2['Amount'].sum()
    
    year_data = (year, avg_amount)
    year_data_2 = (year, avg_amount_2)
    year_list_buyer.append(year_data)
    
    year_list_seller.append(year_data_2)
    
print('Year List')
print(year_list_buyer)
### plot the data
import plotly.plotly as py
import plotly.graph_objs as go
py.sign_in('ThunderVehicle', '5uDmzxrbQGJXhDGcJ4Kp')


trace1 = go.Bar(
    x=[x for (x, amt) in year_list_buyer],
    y=[amt for (x, amt) in year_list_buyer],
    name='Buyer'
)


trace2 = go.Bar(
    x=[x for (x, amt) in year_list_seller],
    y=[amt for (x, amt) in year_list_seller],
    name='Seller'
)


# trace2 = go.Bar(
#     x=['giraffes', 'orangutans', 'monkeys'],
#     y=[12, 18, 29],
#     name='LA Zoo'
# )

data = [trace1, trace2]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

Year List
[('2008', 550537049.0), ('2009', 563172945.0), ('2010', 243994586.0), ('2011', 283268451.0), ('2012', 399236858.0), ('2013', 975439772.0), ('2014', 2433153600.0), ('2015', 1696021864.9699998), ('2016', 5283556643.72), ('2017', 4117986934.91), ('2018', 2765381968.95)]