<a href="https://colab.research.google.com/github/Kunjung/DataViz/blob/master/Diagnosis_Assistant_1%2C_2%2C_3%2C_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import sklearn

In [0]:
import warnings
warnings.filterwarnings("ignore")

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

# 1: Show or No Show

###Access Data

In [0]:
df_s = pd.read_csv('/content/gdrive/My Drive/DiagnosisAssistant/noshow.csv')
df_s.tail(2)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

###Preprocessin Data

In [0]:
columns = ['Gender', 'Age', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap',	'SMS_received',	'No-show']
df_s1 = df_s[columns]
m = {'M' : 1, 'F' : 0}
df_s1['Gender'] = df_s1['Gender'].map(m)
df_s1.rename(columns={'Gender': 'Male'}, inplace=True)
df_s1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Male,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0,62,0,1,0,0,0,0,No
1,1,56,0,0,0,0,0,0,No
2,0,62,0,0,0,0,0,0,No
3,0,8,0,0,0,0,0,0,No
4,0,56,0,1,1,0,0,0,No

###no show and show yes and no to 1 and 0

In [0]:
m2 = {'Yes' : 1, 'No' : 0}
df_s1['No-show'] = df_s1['No-show'].map(m2)
df_s1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Male,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0,62,0,1,0,0,0,0,0
1,1,56,0,0,0,0,0,0,0
2,0,62,0,0,0,0,0,0,0
3,0,8,0,0,0,0,0,0,0
4,0,56,0,1,1,0,0,0,0

###Removing Age Column. It ain't useful

In [0]:
df_s1.drop(columns=['Age'], inplace=True, axis=1)
df_s1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Male,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,0,1,1,0,0,0,0

In [0]:
len(df_s)

110527

###Preprocessing Data No Show Yes No to 1 or 0

###randomize rows

In [0]:
from sklearn.utils import shuffle
df_s1 = shuffle(df_s1)

###X and Y split

In [0]:
X = df_s1[['Male', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap',	'SMS_received']]
y = df_s1[['No-show']]

In [0]:
X.head()

,Male,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
101086,0,0,0,0,0,0,1
72502,0,1,0,0,0,0,0
89407,0,0,1,1,0,0,0
56378,1,0,0,0,0,0,1
9490,0,1,0,0,0,0,0

###Train Test Split

In [0]:
length = len(X)

test_size = int(length * 20/ 100)    ### 20 % will be dataset

## Split X
X_train = X[:length-test_size]
X_test = X[-test_size:]


## Split y
y_train = y[:length-test_size]
y_test = y[-test_size:]

### Making Model to train Model in

In [0]:
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),
                         algorithm="SAMME",
                         n_estimators=200)

clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)
print("Accuracy is ", score)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy is  0.7951501990589939

In [0]:
clf = RandomForestClassifier(n_estimators=300, max_depth=8, random_state=0)

clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)
print("Accuracy is ", score)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

Accuracy is  0.7956930872240319

In [0]:
score = clf.score(X_train, y_train)
print("Training Accuracy is ", score)

Training Accuracy is  0.7984304911381797

### predicting examples

In [0]:
data_format = ['Male', 'Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism', 'Handcap',	'SMS_received']
example_1 = [[1, 1, 1, 1, 0, 0, 1]]
pred = clf.predict(example_1)
print("prediction is ", pred)

example_2 = [[0, 1, 0, 0, 1, 0, 1]]
pred = clf.predict(example_2)
print("prediction is ", pred)

prediction is  [0]
prediction is  [1]

In [0]:
pred = clf.predict(X_test)

In [0]:
pred

array([0, 0, 0, ..., 0, 0, 0])

In [0]:
sum(pred)

5

In [0]:
len(pred)

5526

In [0]:
X_noshows = X_test.loc[clf.predict(X_test) == 1]
X_noshows

,Male,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
88915,0,1,0,0,0,1,1
52507,0,1,0,0,1,0,1
94642,0,1,0,0,1,0,1
77014,0,1,0,0,1,0,1
55702,0,1,0,0,1,0,1

In [0]:
X_yesshows = X_test.loc[clf.predict(X_test) == 0]
X_yesshows

,Male,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
11064,1,0,0,0,0,0,1
10698,0,0,0,0,0,0,0
19244,1,0,0,0,0,0,0
104607,1,0,0,0,0,0,0
65174,1,0,0,0,0,0,0
27985,1,0,1,1,0,0,0
100298,1,0,0,0,0,0,0
70654,0,0,0,0,0,0,1
64478,0,0,0,0,0,0,0
35516,0,0,0,0,0,0,0
61859,1,0,0,0,0,0,0
66073,0,1,0,0,0,0,0
38157,0,0,0,0,0,0,0
85053,1,0,0,0,0,0,0
4746,0,0,1,0,0,0,0
48980,0,0,0,0,0,0,1
105825,1,0,0,0,0,0,0
49695,0,0,1,0,0,0,1
6630,0,0,0,0,0,0,0
36129,0,0,0,0,0,0,0
3001,1,0,0,0,0,0,0
103769,1,0,0,0,0,0,0
51847,0,0,1,0,0,0,0
58218,0,0,1,1,0,0,0
56216,1,0,0,0,0,0,0
18435,1,0,0,0,0,0,0
103077,1,0,0,0,0,0,1
7389,1,1,0,0,0,0,0
76324,0,0,0,0,0,0,1
10987,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...
51115,0,0,0,0,0,0,0
980,1,0,1,0,0,0,0
6556,0,0,0,0,0,0,1
40401,0,1,0,0,0,0,0
69733,1,0,0,0,0,0,0
105035,0,0,0,0,0,0,0
63662,0,0,1,0,0,0,0
24832,0,0,0,0,0,0,0
10848,1,1,0,0,0,0,0
69292,0,0,1,0,0,0,0
78884,0,0,0,0,0,0,0
97472,1,0,0,0,0,0,0
11215,0,0,1,0,0,0,1
68079,0,0,0,0,0,0,0
89642,0,0,0,0,0,0,1
93685,0,0,0,0,0,0,0
32949,0,0,0,0,0,0,0
89611,1,0,0,0,0,0,1
78510,1,1,0,0,0,0,0
84247,0,0,0,0,0,0,1
66349,0,0,0,0,0,0,0
27519,1,0,0,0,0,0,1
51498,0,0,0,0,0,0,0
88830,1,0,0,0,0,0,0
49826,0,0,0,0,0,0,0
102270,0,0,1,0,0,0,1
36069,0,0,1,0,0,0,1
28060,1,0,0,0,0,0,0
76036,1,1,0,0,0,0,0
89509,0,0,0,0,0,0,0

In [0]:
clf.predict(X_noshows)

array([1, 1, 1, 1, 1])

In [0]:
y[y['No-show'] == 1].shape

(22319, 1)

In [0]:
y[y['No-show'] == 0].shape

(88208, 1)

#2: Life Style Diseases That You are Susceptible To (Non-Communical Diseases)

###access Data

In [0]:
df_r = pd.read_csv('/content/gdrive/My Drive/DiagnosisAssistant/diseases.csv')
df_r.tail()

,id,gender,dob,zipcode,employment_status,education,marital_status,children,ancestry,avg_commute,daily_internet_use,available_vehicles,military_service,disease
1995,Ethan Johnson,male,1942-04-13,89127,retired,masters,married,1,Switzerland,28.48,5.88,1,no,heart disease
1996,Natalia Dominguez,female,1963-05-10,60612,unemployed,highschool,married,4,Denmark,21.09,5.92,0,no,gastritis
1997,Joseph Zuniga,male,1965-07-12,94110,employed,bachelors,married,2,Russia,30.80,4.91,2,no,hypertension
1998,Daniel Murphy,male,1926-08-10,90015,retired,bachelors,married,3,Finland,37.56,2.69,0,no,prostate cancer
1999,Samuel Harris,male,1948-11-22,43210,retired,bachelors,married,5,Scotland,49.34,4.77,3,no,hypertension

###Pre processing Data

In [0]:
columns = ['gender', 'employment_status', 'education', 'marital_status', 'children', 'avg_commute', 'daily_internet_use', 'available_vehicles', 'military_service', 'disease']
df_r1 = df_r[columns]


## Gender: Male and Female
m = {'male' : 1, 'female' : 0}
df_r1['gender'] = df_r1['gender'].map(m)
df_r1.rename(columns={'gender': 'male'}, inplace=True)


## Military Service: Yes No
m2 = {'yes' : 1, 'no' : 0}
df_r1['military_service'] = df_r1['military_service'].map(m2)


## Married: married or single
m3 = {'married': 1, 'single': 0}
df_r1['marital_status'] = df_r1['marital_status'].map(m3)


## Remove the disease of HIV/AIDS, endometriosis,
df_r1 = df_r1[df_r1['disease'] != 'HIV/AIDS']
df_r1 = df_r1[df_r1['disease'] != 'endometriosis']
df_r1 = df_r1[df_r1['disease'] != "Alzheimer's disease"]

df_r1.tail()
print(df_r1['disease'].unique())

['hypertension' 'prostate cancer' 'multiple sclerosis' 'skin cancer'
 'kidney disease' 'breast cancer' 'heart disease' 'diabetes' 'gastritis'
 'schizophrenia']

####Turn Avg_Commute from minutes to Hours by div 60

In [0]:
df_r1['avg_commute'] = df_r1['avg_commute']/60
df_r1.head()

,male,employment_status,education,marital_status,children,avg_commute,daily_internet_use,available_vehicles,military_service,disease
0,0,retired,bachelors,1,1,0.223000,2.53,2,0,hypertension
2,1,employed,masters,1,2,0.393333,3.63,1,0,prostate cancer
3,1,retired,bachelors,1,2,0.326833,5.00,3,0,multiple sclerosis
4,0,retired,masters,1,3,0.609167,7.75,1,0,skin cancer
6,0,retired,phd/md,1,0,0.515333,6.75,2,0,kidney disease

###Handling Categorical Data

In [0]:
df_r1.dtypes

male                    int64
employment_status      object
education              object
marital_status          int64
children                int64
avg_commute           float64
daily_internet_use    float64
available_vehicles      int64
military_service        int64
disease                object
dtype: object

In [0]:
df_r1['employment_status'].value_counts()

retired       717
employed      590
unemployed    190
student        18
Name: employment_status, dtype: int64

####One Hot Encoding of Employment Status

In [0]:
df_r1 = pd.get_dummies(df_r1, columns=["employment_status"])
df_r1.head()

,male,education,marital_status,children,avg_commute,daily_internet_use,available_vehicles,military_service,disease,employment_status_employed,employment_status_retired,employment_status_student,employment_status_unemployed
0,0,bachelors,1,1,0.223000,2.53,2,0,hypertension,0,1,0,0
2,1,masters,1,2,0.393333,3.63,1,0,prostate cancer,1,0,0,0
3,1,bachelors,1,2,0.326833,5.00,3,0,multiple sclerosis,0,1,0,0
4,0,masters,1,3,0.609167,7.75,1,0,skin cancer,0,1,0,0
6,0,phd/md,1,0,0.515333,6.75,2,0,kidney disease,0,1,0,0

####One Hot Encoding of Education

In [0]:
df_r1['education'].value_counts()

bachelors     829
highschool    344
masters       208
phd/md        122
phD/MD         10
highscool       2
Name: education, dtype: int64

In [0]:
df_r1 = pd.get_dummies(df_r1, columns=["education"])
df_r1.head()

,male,marital_status,children,avg_commute,daily_internet_use,available_vehicles,military_service,disease,employment_status_employed,employment_status_retired,employment_status_student,employment_status_unemployed,education_bachelors,education_highschool,education_highscool,education_masters,education_phD/MD,education_phd/md
0,0,1,1,0.223000,2.53,2,0,hypertension,0,1,0,0,1,0,0,0,0,0
2,1,1,2,0.393333,3.63,1,0,prostate cancer,1,0,0,0,0,0,0,1,0,0
3,1,1,2,0.326833,5.00,3,0,multiple sclerosis,0,1,0,0,1,0,0,0,0,0
4,0,1,3,0.609167,7.75,1,0,skin cancer,0,1,0,0,0,0,0,1,0,0
6,0,1,0,0.515333,6.75,2,0,kidney disease,0,1,0,0,0,0,0,0,0,1

####Unique Diseases

In [0]:
df_r1['disease'].value_counts()

hypertension          298
skin cancer           233
kidney disease        185
prostate cancer       180
breast cancer         145
diabetes              119
multiple sclerosis    113
gastritis             100
heart disease          87
schizophrenia          55
Name: disease, dtype: int64

####categorical Data Done Preprocessing

In [0]:
df_r1.dtypes

male                              int64
marital_status                    int64
children                          int64
avg_commute                     float64
daily_internet_use              float64
available_vehicles                int64
military_service                  int64
disease                          object
employment_status_employed        uint8
employment_status_retired         uint8
employment_status_student         uint8
employment_status_unemployed      uint8
education_bachelors               uint8
education_highschool              uint8
education_highscool               uint8
education_masters                 uint8
education_phD/MD                  uint8
education_phd/md                  uint8
dtype: object

###Remove Unnecessary *Features*

In [0]:
df_r1.drop(columns=['education_phD/MD', 'education_highscool', 'employment_status_unemployed', 'education_masters', 'education_phd/md'], inplace=True, axis=1)
df_r1.head()

,male,marital_status,children,avg_commute,daily_internet_use,available_vehicles,military_service,disease,employment_status_employed,employment_status_retired,employment_status_student,education_bachelors,education_highschool
0,0,1,1,0.223000,2.53,2,0,hypertension,0,1,0,1,0
2,1,1,2,0.393333,3.63,1,0,prostate cancer,1,0,0,0,0
3,1,1,2,0.326833,5.00,3,0,multiple sclerosis,0,1,0,1,0
4,0,1,3,0.609167,7.75,1,0,skin cancer,0,1,0,0,0
6,0,1,0,0.515333,6.75,2,0,kidney disease,0,1,0,0,0

In [0]:
## Rename really long feature names to shorter ones
df_r1.rename(columns={'employment_status_employed': 'employed', 'employment_status_retired': 'retired', 'employment_status_student': 'student'}, inplace=True)

In [0]:
df_r1.head()

,male,marital_status,children,avg_commute,daily_internet_use,available_vehicles,military_service,disease,employed,retired,student,education_bachelors,education_highschool
0,0,1,1,0.223000,2.53,2,0,hypertension,0,1,0,1,0
2,1,1,2,0.393333,3.63,1,0,prostate cancer,1,0,0,0,0
3,1,1,2,0.326833,5.00,3,0,multiple sclerosis,0,1,0,1,0
4,0,1,3,0.609167,7.75,1,0,skin cancer,0,1,0,0,0
6,0,1,0,0.515333,6.75,2,0,kidney disease,0,1,0,0,0

In [0]:
df_r1.shape

(1515, 13)

In [0]:
columns = df_r1.columns
columns

Index(['male', 'marital_status', 'children', 'avg_commute',
       'daily_internet_use', 'available_vehicles', 'military_service',
       'disease', 'employed', 'retired', 'student', 'education_bachelors',
       'education_highschool'],
      dtype='object')

### Shuffle Data

In [0]:
from sklearn.utils import shuffle
df_r1 = shuffle(df_r1)

###X / Y Split

In [0]:
X_r = df_r1[['male','marital_status','children','avg_commute','daily_internet_use','available_vehicles','military_service','employed','retired','student','education_bachelors','education_highschool']]
y_r = df_r1[['disease']]
X_r.head()
X_r.shape

(1515, 12)

###Train Test Split

In [0]:
length = len(X_r)
print("length of dataset is ", length)

test_size = int(length * 40/100)    ### 40 % will be dataset
print("test size", test_size)
## Split X
X_train_r = X_r[:length-test_size]
X_test_r = X_r[-test_size:]


## Split y
y_train_r = y_r[:length-test_size]
y_test_r = y_r[-test_size:]

length of dataset is  1515
test size 606

###Create Classifier Model

####Classifier 1

In [0]:
# from sklearn.svm import KNeighborsClassifier

# neigh = KNeighborsClassifier(n_neighbors=11)

# neigh.fit(X_train_r, y_train_r)

from sklearn import svm

svc1 = svm.SVC(kernel='rbf', random_state=0, probability=True)
svc1.fit(X_train_r, y_train_r)

test_score = svc1.score(X_test_r, y_test_r)
train_score = svc1.score(X_train_r, y_train_r)

print("Train Score is ", train_score)
print("Test Score is ", test_score)

print(".................................")
print("Model Evaluation")
print(".................................")
preds_r = svc1.predict(X_test_r)
print("Unique Diseases Predicted", np.unique(preds_r))
print("Total Num of Diseases", len(np.unique(preds_r)))

print("Unique diseases in Test Set", y_test_r['disease'].unique())
print("Total Num in Test Set", len(y_test_r['disease'].unique()))

Train Score is  0.29812981298129815
Test Score is  0.20462046204620463
.................................
Model Evaluation
.................................
Unique Diseases Predicted ['breast cancer' 'hypertension' 'kidney disease' 'prostate cancer'
 'skin cancer']
Total Num of Diseases 5
Unique diseases in Test Set ['schizophrenia' 'multiple sclerosis' 'skin cancer' 'prostate cancer'
 'hypertension' 'gastritis' 'heart disease' 'diabetes' 'breast cancer'
 'kidney disease']
Total Num in Test Set 10

##### Prediction of Disease Probabilities

> Indented block

In [0]:
print(pd.DataFrame(svc1.predict_proba(X_test_r[:5]), columns=svc1.classes_))

   breast cancer  diabetes  gastritis  heart disease  hypertension  \
0       0.012504  0.080925   0.066384       0.059148      0.185041
1       0.210332  0.079884   0.064901       0.063173      0.227314
2       0.198781  0.079201   0.067012       0.062078      0.208534
3       0.013292  0.078123   0.069172       0.062114      0.209427
4       0.375148  0.059054   0.054099       0.051201      0.159876

   kidney disease  multiple sclerosis  prostate cancer  schizophrenia  \
0        0.109019            0.069985         0.216537       0.029811
1        0.127481            0.070975         0.010469       0.033288
2        0.117782            0.071607         0.013596       0.027178
3        0.116301            0.072779         0.205224       0.032184
4        0.097824            0.058182         0.009708       0.030654

   skin cancer
0     0.170648
1     0.112183
2     0.154231
3     0.141383
4     0.104255

####Prediction Single Example

In [0]:
X_r.head()

,male,marital_status,children,avg_commute,daily_internet_use,available_vehicles,military_service,employed,retired,student,education_bachelors,education_highschool
1362,1,1,1,0.380667,6.90,1,0,0,1,0,1,0
238,0,1,1,0.447667,5.66,1,0,1,0,0,0,0
662,1,1,4,0.505000,6.16,2,0,0,1,0,1,0
406,1,1,4,0.318333,7.19,2,1,0,1,0,0,0
101,0,0,2,0.496333,6.71,1,0,0,1,0,0,0

In [0]:
Features = ['male','marital_status','children (number of children)','avg_commute (hrs)','daily_internet_use (hrs)','available_vehicles',
      'military_service','employed','retired','student','education_bachelors','education_highschool']

feature_1 = [[1, 0, 0, 0.5, 8, 0,
            0, 1, 0, 1, 1, 1]]

print(pd.DataFrame(svc1.predict_proba(feature_1), columns=svc1.classes_))
print("pred", svc1.predict(feature_1))

   breast cancer  diabetes  gastritis  heart disease  hypertension  \
0       0.021712  0.092935    0.07071       0.065087      0.218206

   kidney disease  multiple sclerosis  prostate cancer  schizophrenia  \
0         0.12953             0.07793         0.136595       0.045635

   skin cancer
0     0.141661
pred ['hypertension']

In [0]:
Features = ['male','marital_status','children (number of children)','avg_commute (hrs)','daily_internet_use (hrs)','available_vehicles',
      'military_service','employed','retired','student','education_bachelors','education_highschool']

feature_2 = [[0, 0, 0, 2, 7, 0,
            0, 0, 1, 0, 0, 1]]

print(pd.DataFrame(svc1.predict_proba(feature_2), columns=svc1.classes_))
print("pred", svc1.predict(feature_2))

   breast cancer  diabetes  gastritis  heart disease  hypertension  \
0       0.097016  0.093289   0.078027       0.070077       0.22423

   kidney disease  multiple sclerosis  prostate cancer  schizophrenia  \
0        0.135239            0.081576          0.01839       0.048924

   skin cancer
0     0.153233
pred ['hypertension']

####Classifier 2

In [0]:
### Currently the BEST Classifier with .77 and .75 accuracy
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

bdt = AdaBoostClassifier(
    DecisionTreeClassifier(max_depth=5), #, class_weight='balanced'),
    n_estimators=275,
    learning_rate=0.0125,
    algorithm="SAMME.R")

bdt.fit(X_train_r, y_train_r)

test_score = bdt.score(X_test_r, y_test_r)
train_score = bdt.score(X_train_r, y_train_r)

print("Train Score is ", train_score)
print("Test Score is ", test_score)

print(".................................")
print("Model Evaluation")
print(".................................")
preds_r = bdt.predict(X_test_r)
print("Unique Diseases Predicted", np.unique(preds_r))
print("Total Num of Diseases", len(np.unique(preds_r)))

Train Score is  0.33663366336633666
Test Score is  0.1716171617161716
.................................
Model Evaluation
.................................
Unique Diseases Predicted ['breast cancer' 'diabetes' 'gastritis' 'heart disease' 'hypertension'
 'kidney disease' 'multiple sclerosis' 'prostate cancer' 'schizophrenia'
 'skin cancer']
Total Num of Diseases 10

####Classifier 3

In [0]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=20, weights='distance')

neigh.fit(X_train_r, y_train_r)

test_score = neigh.score(X_test_r, y_test_r)
train_score = neigh.score(X_train_r, y_train_r)

print("Train Score is ", train_score)
print("Test Score is ", test_score)

print(".................................")
print("Model Evaluation")
print(".................................")
preds_r = neigh.predict(X_test_r)
print("Unique Diseases Predicted", np.unique(preds_r))
print("Total Num of Diseases", len(np.unique(preds_r)))

Train Score is  1.0
Test Score is  0.1716171617161716
.................................
Model Evaluation
.................................
Unique Diseases Predicted ['breast cancer' 'diabetes' 'gastritis' 'heart disease' 'hypertension'
 'kidney disease' 'multiple sclerosis' 'prostate cancer' 'schizophrenia'
 'skin cancer']
Total Num of Diseases 10

In [0]:
print(pd.DataFrame(neigh.predict_proba(X_test_r[100:105]), columns=neigh.classes_))
print(neigh.predict(X_test_r[100:105]))

   breast cancer  diabetes  gastritis  heart disease  hypertension  \
0       0.100396  0.083438   0.065437       0.055771      0.190870
1       0.111080  0.080857   0.065899       0.056023      0.194787
2       0.098428  0.078726   0.066096       0.057278      0.190500
3       0.106406  0.083717   0.067014       0.062192      0.180074
4       0.112979  0.081532   0.067879       0.057894      0.190417

   kidney disease  multiple sclerosis  prostate cancer  schizophrenia  \
0        0.118348            0.072305         0.129054       0.036228
1        0.120935            0.072441         0.117855       0.036081
2        0.118405            0.071583         0.139683       0.038732
3        0.118231            0.065631         0.132187       0.034459
4        0.119815            0.071346         0.119906       0.032790

   skin cancer
0     0.148152
1     0.144042
2     0.140568
3     0.150089
4     0.145442
['hypertension' 'hypertension' 'hypertension' 'hypertension'
 'hypertension']

In [0]:
preds_r = neigh.predict(X_test_r)
preds_r

array(['hypertension', 'hypertension', 'breast cancer', 'prostate cancer',
       'heart disease', 'diabetes', 'hypertension', 'hypertension',
       'skin cancer', 'hypertension', 'schizophrenia', 'kidney disease',
       'breast cancer', 'hypertension', 'skin cancer', 'gastritis',
       'kidney disease', 'kidney disease', 'prostate cancer',
       'prostate cancer', 'diabetes', 'skin cancer', 'skin cancer',
       'hypertension', 'kidney disease', 'kidney disease', 'hypertension',
       'kidney disease', 'skin cancer', 'hypertension', 'breast cancer',
       'skin cancer', 'breast cancer', 'breast cancer', 'gastritis',
       'hypertension', 'breast cancer', 'hypertension', 'prostate cancer',
       'hypertension', 'breast cancer', 'skin cancer', 'breast cancer',
       'prostate cancer', 'gastritis', 'kidney disease', 'breast cancer',
       'hypertension', 'prostate cancer', 'gastritis', 'prostate cancer',
       'diabetes', 'hypertension', 'skin cancer', 'kidney disease',
       'hypertension', 'prostate cancer', 'hypertension', 'hypertension',
       'kidney disease', 'breast cancer', 'hypertension', 'hypertension',
       'kidney disease', 'breast cancer', 'skin cancer', 'hypertension',
       'skin cancer', 'multiple sclerosis', 'skin cancer', 'skin cancer',
       'multiple sclerosis', 'hypertension', 'prostate cancer',
       'kidney disease', 'hypertension', 'diabetes', 'prostate cancer',
       'kidney disease', 'breast cancer', 'skin cancer',
       'prostate cancer', 'breast cancer', 'hypertension',
       'heart disease', 'hypertension', 'prostate cancer', 'hypertension',
       'prostate cancer', 'heart disease', 'kidney disease',
       'prostate cancer', 'prostate cancer', 'heart disease',
       'hypertension', 'hypertension', 'prostate cancer', 'breast cancer',
       'kidney disease', 'kidney disease', 'skin cancer', 'hypertension',
       'prostate cancer', 'prostate cancer', 'breast cancer',
       'kidney disease', 'prostate cancer', 'kidney disease',
       'breast cancer', 'prostate cancer', 'hypertension', 'hypertension',
       'hypertension', 'hypertension', 'hypertension', 'hypertension',
       'hypertension', 'diabetes', 'hypertension', 'prostate cancer',
       'prostate cancer', 'prostate cancer', 'skin cancer',
       'prostate cancer', 'gastritis', 'hypertension', 'prostate cancer',
       'skin cancer', 'hypertension', 'schizophrenia', 'heart disease',
       'hypertension', 'gastritis', 'hypertension', 'hypertension',
       'hypertension', 'heart disease', 'skin cancer', 'skin cancer',
       'hypertension', 'kidney disease', 'breast cancer', 'hypertension',
       'prostate cancer', 'breast cancer', 'hypertension', 'skin cancer',
       'kidney disease', 'diabetes', 'hypertension', 'hypertension',
       'hypertension', 'skin cancer', 'skin cancer', 'hypertension',
       'prostate cancer', 'skin cancer', 'prostate cancer',
       'prostate cancer', 'prostate cancer', 'skin cancer', 'gastritis',
       'hypertension', 'skin cancer', 'diabetes', 'hypertension',
       'prostate cancer', 'breast cancer', 'hypertension', 'hypertension',
       'kidney disease', 'prostate cancer', 'hypertension',
       'kidney disease', 'hypertension', 'prostate cancer',
       'kidney disease', 'breast cancer', 'prostate cancer',
       'prostate cancer', 'diabetes', 'hypertension', 'diabetes',
       'diabetes', 'prostate cancer', 'prostate cancer', 'hypertension',
       'prostate cancer', 'skin cancer', 'hypertension', 'skin cancer',
       'gastritis', 'prostate cancer', 'hypertension', 'prostate cancer',
       'skin cancer', 'hypertension', 'skin cancer', 'prostate cancer',
       'skin cancer', 'breast cancer', 'hypertension', 'breast cancer',
       'hypertension', 'hypertension', 'skin cancer', 'skin cancer',
       'schizophrenia', 'gastritis', 'prostate cancer', 'prostate cancer',
       'breast cancer', 'hypertension', 'hypertension', 'hypertension',
       'hypertension', 'hypertension', 'heart disease', 'prostate cancer',
       'diabetes', 'prostate cancer', 'prostate cancer',
       'prostate cancer', 'hypertension', 'hypertension', 'hypertension',
       'kidney disease', 'prostate cancer', 'prostate cancer',
       'hypertension', 'prostate cancer', 'prostate cancer',
       'kidney disease', 'hypertension', 'breast cancer', 'breast cancer',
       'kidney disease', 'hypertension', 'hypertension', 'hypertension',
       'hypertension', 'schizophrenia', 'breast cancer', 'skin cancer',
       'breast cancer', 'hypertension', 'prostate cancer', 'hypertension',
       'kidney disease', 'prostate cancer', 'skin cancer',
       'kidney disease', 'prostate cancer', 'hypertension',
       'breast cancer', 'breast cancer', 'skin cancer', 'prostate cancer',
       'hypertension', 'hypertension', 'hypertension', 'skin cancer',
       'breast cancer', 'kidney disease', 'skin cancer', 'diabetes',
       'kidney disease', 'prostate cancer', 'hypertension',
       'breast cancer', 'hypertension', 'hypertension', 'hypertension',
       'gastritis', 'kidney disease', 'hypertension', 'hypertension',
       'prostate cancer', 'breast cancer', 'multiple sclerosis',
       'breast cancer', 'hypertension', 'skin cancer', 'prostate cancer',
       'hypertension', 'hypertension', 'breast cancer', 'breast cancer',
       'hypertension', 'skin cancer', 'hypertension', 'hypertension',
       'diabetes', 'hypertension', 'hypertension', 'hypertension',
       'breast cancer', 'hypertension', 'hypertension', 'prostate cancer',
       'hypertension', 'skin cancer', 'prostate cancer', 'breast cancer',
       'kidney disease', 'multiple sclerosis', 'prostate cancer',
       'kidney disease', 'prostate cancer', 'hypertension',
       'hypertension', 'prostate cancer', 'hypertension',
       'prostate cancer', 'hypertension', 'hypertension', 'breast cancer',
       'prostate cancer', 'skin cancer', 'diabetes', 'prostate cancer',
       'skin cancer', 'hypertension', 'prostate cancer', 'skin cancer',
       'diabetes', 'hypertension', 'diabetes', 'hypertension',
       'heart disease', 'hypertension', 'hypertension', 'hypertension',
       'skin cancer', 'prostate cancer', 'hypertension',
       'multiple sclerosis', 'hypertension', 'skin cancer',
       'hypertension', 'hypertension', 'hypertension', 'breast cancer',
       'hypertension', 'skin cancer', 'prostate cancer',
       'prostate cancer', 'skin cancer', 'prostate cancer',
       'hypertension', 'prostate cancer', 'kidney disease',
       'prostate cancer', 'skin cancer', 'schizophrenia', 'diabetes',
       'kidney disease', 'hypertension', 'hypertension', 'hypertension',
       'kidney disease', 'breast cancer', 'breast cancer',
       'breast cancer', 'hypertension', 'breast cancer', 'breast cancer',
       'prostate cancer', 'diabetes', 'breast cancer', 'hypertension',
       'kidney disease', 'breast cancer', 'diabetes', 'prostate cancer',
       'skin cancer', 'schizophrenia', 'hypertension', 'hypertension',
       'diabetes', 'hypertension', 'prostate cancer', 'hypertension',
       'breast cancer', 'hypertension', 'schizophrenia', 'hypertension',
       'diabetes', 'breast cancer', 'skin cancer', 'multiple sclerosis',
       'hypertension', 'hypertension', 'hypertension', 'hypertension',
       'prostate cancer', 'skin cancer', 'kidney disease', 'hypertension',
       'skin cancer', 'hypertension', 'hypertension',
       'multiple sclerosis', 'kidney disease', 'hypertension',
       'hypertension', 'hypertension', 'prostate cancer', 'skin cancer',
       'skin cancer', 'hypertension', 'kidney disease', 'gastritis',
       'skin cancer', 'prostate cancer', 'breast cancer', 'hypertension',
       'hypertension', 'prostate cancer', 'prostate cancer',
       'skin cancer', 'hypertension', 'hypertension', 'skin cancer',
       'breast cancer', 'hypertension', 'hypertension', 'kidney disease',
       'diabetes', 'kidney disease', 'skin cancer', 'prostate cancer',
       'diabetes', 'skin cancer', 'kidney disease', 'multiple sclerosis',
       'gastritis', 'hypertension', 'prostate cancer', 'breast cancer',
       'hypertension', 'skin cancer', 'breast cancer', 'kidney disease',
       'kidney disease', 'hypertension', 'kidney disease', 'hypertension',
       'breast cancer', 'breast cancer', 'hypertension',
       'prostate cancer', 'skin cancer', 'prostate cancer',
       'hypertension', 'hypertension', 'prostate cancer',
       'prostate cancer', 'prostate cancer', 'breast cancer',
       'hypertension', 'breast cancer', 'skin cancer', 'hypertension',
       'diabetes', 'hypertension', 'hypertension', 'skin cancer',
       'hypertension', 'kidney disease', 'kidney disease', 'hypertension',
       'prostate cancer', 'skin cancer', 'hypertension', 'kidney disease',
       'kidney disease', 'breast cancer', 'prostate cancer',
       'hypertension', 'kidney disease', 'prostate cancer',
       'multiple sclerosis', 'kidney disease', 'breast cancer',
       'prostate cancer', 'hypertension', 'gastritis', 'hypertension',
       'kidney disease', 'schizophrenia', 'prostate cancer',
       'prostate cancer', 'breast cancer', 'hypertension', 'skin cancer',
       'hypertension', 'skin cancer', 'diabetes', 'skin cancer',
       'skin cancer', 'kidney disease', 'hypertension', 'breast cancer',
       'prostate cancer', 'skin cancer', 'breast cancer', 'hypertension',
       'skin cancer', 'hypertension', 'prostate cancer', 'heart disease',
       'prostate cancer', 'diabetes', 'hypertension', 'prostate cancer',
       'diabetes', 'hypertension', 'prostate cancer', 'skin cancer',
       'skin cancer', 'prostate cancer', 'kidney disease', 'diabetes',
       'prostate cancer', 'prostate cancer', 'skin cancer',
       'hypertension', 'hypertension', 'hypertension', 'breast cancer',
       'hypertension', 'gastritis', 'hypertension', 'skin cancer',
       'kidney disease', 'hypertension', 'prostate cancer',
       'hypertension', 'hypertension', 'hypertension', 'skin cancer',
       'hypertension', 'skin cancer', 'prostate cancer',
       'prostate cancer', 'hypertension', 'prostate cancer',
       'skin cancer', 'kidney disease', 'prostate cancer',
       'kidney disease', 'prostate cancer', 'prostate cancer',
       'skin cancer', 'prostate cancer', 'skin cancer', 'skin cancer',
       'skin cancer', 'skin cancer', 'diabetes', 'breast cancer',
       'diabetes', 'hypertension', 'hypertension', 'prostate cancer',
       'gastritis', 'hypertension', 'hypertension', 'breast cancer',
       'kidney disease', 'skin cancer', 'prostate cancer', 'skin cancer',
       'kidney disease', 'prostate cancer', 'breast cancer',
       'hypertension', 'multiple sclerosis', 'skin cancer', 'skin cancer',
       'hypertension', 'hypertension', 'prostate cancer',
       'prostate cancer', 'breast cancer', 'skin cancer', 'gastritis',
       'breast cancer', 'skin cancer', 'hypertension', 'skin cancer',
       'skin cancer', 'prostate cancer', 'prostate cancer',
       'kidney disease', 'heart disease', 'hypertension', 'breast cancer',
       'hypertension', 'hypertension', 'breast cancer', 'schizophrenia',
       'hypertension', 'kidney disease', 'hypertension'], dtype=object)

####Disease frequency

In [0]:
df_r1['disease'].value_counts()

hypertension          298
skin cancer           233
kidney disease        185
prostate cancer       180
breast cancer         145
diabetes              119
multiple sclerosis    113
gastritis             100
heart disease          87
schizophrenia          55
Name: disease, dtype: int64

# 3: How much Insurance Amount to Charge

### Access Insurance Charge Data

In [0]:
df_i = pd.read_csv('/content/gdrive/My Drive/DiagnosisAssistant/insurance.csv')
df_i.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

###Preprocessing Data

In [0]:
columns = ['age', 'sex', 'bmi', 'children', 'smoker', 'charges']
df_i1 = df_i[columns]
m = {'male' : 1, 'female' : 0}
df_i1['sex'] = df_i1['sex'].map(m)
df_i1.rename(columns={'sex': 'male'}, inplace=True)

m2 = {'yes' : 1, 'no' : 0}
df_i1['smoker'] = df_i1['smoker'].map(m2)

df_i1.head()

   age  male     bmi  children  smoker      charges
0   19     0  27.900         0       1  16884.92400
1   18     1  33.770         1       0   1725.55230
2   28     1  33.000         3       0   4449.46200
3   33     1  22.705         0       0  21984.47061
4   32     1  28.880         0       0   3866.85520

###Randomize Rows

In [0]:
from sklearn.utils import shuffle
df_i1 = shuffle(df_i1)

###X and Y Split

In [0]:
X_i = df_i1[['age', 'male', 'bmi', 'children', 'smoker']]
y_i = df_i1[['charges']]
X_i.head()

     age  male    bmi  children  smoker
163   32     0  29.80         2       0
750   37     0  26.40         0       1
545   49     1  25.84         2       1
117   29     0  27.94         1       1
716   49     0  22.61         1       0

###Train Test Split

In [0]:
length = len(X_i)
print("length of dataset is ", length)

test_size = int(length *20/100)    ### 20 % will be dataset
print("test size", test_size)
## Split X
X_train_i = X_i[:length-test_size]
X_test_i = X_i[-test_size:]


## Split y
y_train_i = y_i[:length-test_size]
y_test_i = y_i[-test_size:]

length of dataset is  1338
test size 267

In [0]:
X_i.shape

(1338, 5)

In [0]:
X_test_i.shape

(267, 5)

In [0]:
X_train_i.shape

(1071, 5)

###Make a Linear Regression Model

In [0]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

reg = GradientBoostingRegressor(n_estimators=300, learning_rate=0.1,
        max_depth=1, random_state=0, loss='ls')

reg.fit(X_train_i, y_train_i)

test_score = reg.score(X_test_i, y_test_i)

train_score = reg.score(X_train_i, y_train_i)


print("Train score is ", train_score)
print("Test score is ", test_score)

Train score is  0.7684104152017159
Test score is  0.7545338434335447

In [0]:
pred = reg.predict(X_test_i)
pred

array([ 1.57436678e+04,  9.22337926e+03,  2.83750926e+04,  1.15156842e+04,
        3.44268823e+04,  1.07628304e+04,  7.01580524e+03,  1.75679914e+04,
        8.31387281e+03,  3.41146082e+04,  3.52043473e+04,  8.01721556e+03,
        1.22776987e+04,  2.84039513e+04,  2.56882334e+03,  5.26689437e+03,
        5.68875535e+03,  6.74675043e+03,  1.12520965e+04,  2.95565280e+03,
        5.33622486e+03,  5.93737390e+03,  4.05361684e+04,  9.09208098e+03,
        1.67704945e+04,  1.32300844e+04,  7.54773638e+03,  2.77560646e+03,
        1.34008520e+04,  7.54773638e+03,  5.21334570e+03,  9.67073335e+02,
        3.60390687e+02,  2.34986433e+03,  8.32677688e+03,  9.36185654e+03,
        2.81744189e+03,  2.60958127e+03,  6.22592303e+03,  1.48853267e+04,
        1.82327625e+04,  1.15235175e+04,  2.91140899e+04,  6.96639097e+03,
        5.77134871e+03,  1.03213235e+04,  1.03352131e+04,  5.70092611e+03,
        1.49388753e+04,  3.34830704e+04,  1.55190079e+04,  2.91262607e+04,
        5.92375582e+03,  1.26380970e+04,  3.02752295e+04,  1.85841322e+03,
        2.72271229e+04,  4.72939510e+03,  3.30518680e+04,  5.68875535e+03,
        1.05020587e+04,  9.87515192e+03,  5.90878673e+03,  3.23678031e+04,
        5.63474517e+03,  1.59849908e+04,  1.25765097e+04,  1.19578727e+04,
        1.75679914e+04,  4.78294376e+03,  2.60958127e+03,  2.77745524e+04,
        1.37446261e+03,  1.56678545e+04,  3.12342582e+04,  1.24681705e+04,
        1.45493070e+04,  1.25894105e+04,  5.52273016e+03,  4.51524299e+03,
        3.60018443e+04,  5.68875535e+03,  5.58773618e+03,  1.45493070e+04,
        4.46580745e+03,  8.81445189e+03,  3.20007300e+04,  8.87766264e+03,
        2.97949958e+04,  8.29287423e+03,  2.83339476e+04,  1.53275152e+04,
        8.79542373e+03,  1.32785317e+04,  1.48666337e+04,  5.93737390e+03,
        6.95339406e+02,  3.48203844e+04,  6.55182619e+03,  3.75137601e+04,
        1.63185471e+03,  3.84202252e+04,  1.67897832e+04,  1.11796645e+04,
        7.15887448e+03,  1.00372225e+04,  9.12628119e+03,  7.60106301e+03,
        1.75679914e+04,  2.77560646e+03,  3.84202252e+04,  5.92375582e+03,
        2.02443841e+03,  9.31985117e+03,  3.08328276e+04,  3.22880281e+04,
        3.19632752e+02,  7.76395396e+03,  4.46580745e+03,  3.71698492e+04,
        5.68875535e+03,  6.01806242e+03,  9.12628119e+03,  2.63315731e+04,
        1.17643027e+04,  1.19745759e+04,  2.90623853e+03,  7.86194075e+03,
        6.36594435e+03,  1.42977957e+04,  7.41971428e+03,  8.82194904e+03,
        4.75429945e+03,  3.30102461e+04,  2.49658224e+04, -8.59382564e+02,
        5.82788836e+03,  1.12520965e+04,  3.04560500e+04,  2.93627085e+04,
        2.77560646e+03,  5.93737390e+03,  1.15156842e+04,  7.19194409e+03,
        3.39273932e+04,  2.47997972e+04,  7.12980041e+03,  1.25894105e+04,
        5.93737390e+03,  2.75544997e+04,  1.19578727e+04,  3.20007300e+04,
        8.81442705e+03,  2.93627085e+04,  1.27178782e+04,  1.33271825e+04,
        8.32677688e+03,  1.37708704e+04,  1.03360335e+04,  8.57539543e+03,
        1.37446261e+03,  1.41047197e+04,  1.36909659e+04,  1.37446261e+03,
        9.17982986e+03,  4.05361684e+04,  9.34069953e+03,  9.12628119e+03,
        2.38218630e+04,  5.58773618e+03,  4.34921780e+03,  1.37445146e+04,
        1.59314422e+04,  1.15692328e+04,  1.32300844e+04,  3.08328276e+04,
        4.49439463e+03,  3.27353957e+03,  5.29818128e+03,  1.17790127e+04,
        5.32461952e+03,  6.01806242e+03,  1.09528613e+04,  8.54164300e+03,
        1.12014798e+04,  7.44056264e+03,  3.23565459e+04,  1.77795031e+04,
        1.13114352e+04,  7.13241616e+03,  2.91966833e+04,  9.12628119e+03,
        9.36185654e+03,  1.71832694e+04,  1.07628304e+04,  2.96865056e+04,
        7.59792877e+03,  1.18406538e+04,  3.39395465e+04,  5.93737390e+03,
        8.87766264e+03,  9.73600372e+03,  2.19485833e+03,  9.12628119e+03,
        2.81547297e+04,  1.07628304e+04,  1.33265115e+04,  3.03917256e+04,
        9.31985117e+03,  1.75679914e+04,  1.05142119e+04,  5.55207947e+03,
        1.46180151e+04,  1.36909659e+04,  1.88875440e+02,  2.79197292e+04,
        3.53832073e+04,  2.82518277e+04,  1.39368956e+04,  1.27425349e+04,
       -1.91023837e+01,  1.90782749e+03,  5.99758337e+03,  4.21858574e+03,
        4.06046861e+04,  4.34921780e+03,  6.49813188e+03,  9.38477196e+03,
        7.59792877e+03,  1.27544145e+04,  1.87623521e+04,  7.70415028e+03,
        2.91966833e+04,  5.77134871e+03,  1.07628304e+04,  8.40937024e+03,
        3.41881650e+04,  2.62009410e+04,  3.24693769e+04,  7.14390539e+03,
        1.07565167e+03,  3.08328276e+04,  2.45009863e+04,  2.91140899e+04,
        3.61678694e+04,  9.73600372e+03,  3.62392217e+04,  9.87515192e+03,
        1.54048781e+03,  3.78668425e+03,  8.61364597e+02,  7.21634100e+03,
        1.34008520e+04,  3.46991443e+04,  8.54164300e+03,  1.17643027e+04,
        4.72939510e+03,  2.91262607e+04,  3.61678694e+04,  5.21334570e+03,
        7.45553173e+03,  4.92079639e+03,  1.90109707e+04,  3.49260497e+04,
        1.90109707e+04, -8.74727971e+02,  8.43217265e+03])

In [0]:
y_test_i['charges'].values

array([10450.552  ,  6360.9936 , 33907.548  ,  8871.1517 , 40941.2854 ,
        7160.3303 ,  9193.8385 , 14313.8463 ,  3875.7341 , 39556.4945 ,
       25382.297  ,  3410.324  , 14449.8544 , 44501.3982 ,  2709.24395,
        1674.6323 ,  6067.12675,  6406.4107 ,  9778.3472 ,  4906.40965,
        1261.859  ,  6548.19505, 46130.5265 ,  3277.161  , 30063.58055,
       29186.48236,  8891.1395 ,  3385.39915,  8978.1851 ,  8302.53565,
        2055.3249 ,  3167.45585,  2680.9493 ,  1875.344  ,  9447.3824 ,
       10107.2206 ,  3279.86855,  3206.49135,  3579.8287 , 11946.6259 ,
       15170.069  , 27346.04207, 19040.876  ,  7147.105  ,  8017.06115,
       17929.30337,  9432.9253 ,  2494.022  , 10825.2537 , 39727.614  ,
       16455.70785, 34254.05335,  2362.22905, 18806.14547, 35585.576  ,
        2045.68525, 16657.71745,  1748.774  , 23887.6627 ,  7050.642  ,
       10594.50155, 11729.6795 ,  2566.4707 , 22412.6485 ,  4561.1885 ,
       13143.33665, 12815.44495,  7731.85785, 13981.85035,  1261.442  ,
        2974.126  , 17361.7661 ,  1632.56445, 12638.195  , 37465.34375,
        9964.06   , 11093.6229 ,  7152.6714 ,  5002.7827 , 20177.67113,
       28101.33305,  5484.4673 ,  2026.9741 , 24227.33724,  1877.9294 ,
        9788.8659 , 24915.22085,  5594.8455 , 21774.32215,  3443.064  ,
       38792.6856 , 11362.755  ,  3577.999  , 11881.9696 , 11396.9002 ,
        6203.90175,  1615.7667 , 48885.13561,  6184.2994 , 47269.854  ,
        2803.69785, 30184.9367 , 12982.8747 ,  7448.40395,  3490.5491 ,
       10577.087  ,  6875.961  ,  2899.48935, 13228.84695, 18955.22017,
       30942.1918 ,  2719.27975,  1664.9996 ,  4320.41085, 36124.5737 ,
       39597.4072 ,  2585.269  ,  7626.993  ,  1639.5631 , 43921.1837 ,
        6496.886  , 10795.93733,  7954.517  , 16138.76205, 10043.249  ,
       13204.28565,  3645.0894 ,  9182.17   ,  1646.4297 , 10594.2257 ,
        6185.3208 , 32108.66282,  5615.369  , 40182.246  , 16232.847  ,
        3732.6251 ,  5272.1758 ,  7441.053  , 38344.566  , 20984.0936 ,
        2523.1695 ,  6748.5912 ,  8551.347  ,  4076.497  , 27218.43725,
       14711.7438 ,  3393.35635,  8023.13545,  6414.178  , 17179.522  ,
        8124.4084 , 24535.69855,  9855.1314 , 32787.45859,  9724.53   ,
       11411.685  , 26140.3603 , 12913.9924 , 11931.12525,  8515.7587 ,
        1737.376  ,  9877.6077 , 10435.06525,  1628.4709 ,  7418.522  ,
       47291.055  ,  4463.2051 ,  6338.0756 , 13747.87235,  1759.338  ,
        5312.16985, 11356.6609 , 13880.949  ,  7445.918  , 10806.839  ,
       36085.219  ,  5267.81815,  5116.5004 ,  1725.5523 , 12629.1656 ,
       18157.876  ,  2855.43755,  7633.7206 ,  5438.7491 ,  8116.26885,
        6113.23105, 39047.285  , 36580.28216, 10214.636  ,  8277.523  ,
       18608.262  ,  6986.697  , 30284.64294, 13822.803  ,  7371.772  ,
       34672.1472 ,  7623.518  ,  9140.951  , 39871.7043 ,  7281.5056 ,
        7639.41745,  4795.6568 , 21344.8467 ,  7682.67   , 34439.8559 ,
        7160.094  ,  9880.068  , 35069.37452,  5920.1041 , 13887.204  ,
        6079.6715 ,  4234.927  , 10959.6947 , 20781.48892,  1242.816  ,
       20234.85475, 41676.0811 , 39722.7462 , 13224.693  , 13041.921  ,
        1625.43375,  4005.4225 ,  3062.50825,  3537.703  , 47928.03   ,
        4934.705  ,  6500.2359 ,  9620.3307 ,  7624.63   , 11881.358  ,
       12347.172  ,  5327.40025, 19361.9988 ,  6985.50695,  5972.378  ,
        8603.8234 , 41949.2441 , 35147.52848, 38511.6283 ,  4260.744  ,
        1627.28245, 36189.1017 , 13844.506  , 21082.16   , 28950.4692 ,
       11326.71487, 47462.894  , 25992.82104,  1743.214  ,  1622.1885 ,
        2200.83085,  3021.80915, 10381.4787 , 41097.16175,  5709.1644 ,
        9411.005  , 23082.95533, 34838.873  , 29523.1656 ,  2254.7967 ,
        4738.2682 ,  4766.022  , 14235.072  , 40720.55105, 27941.28758,
        1727.785  , 27117.99378])